// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------


.button {
    // padding: 1.5rem;
    padding: 1rem 8rem;
    color: white;
    background-color: #0094C6;
    border: 2px solid transparent;
    border-radius: 30px;
    font-weight: 900;
    outline: none;
    cursor: pointer;
    transition: .2s all ease-in-out;
    box-shadow: $box-shadow;

    img {
        height: 2.5rem;
        width: 2.5rem;
    }

    &:hover {
        transform: translateY(-3px);
        background-color: $color-slate-blue;
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: $box-shadow-1;
    }
}