// -----------------------------------------------------------------------------
// This file contains base style(s)
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%; // 10px / 16px = 62.5%
}


body {
    padding: 10rem;
    font-family: $primary-font;
    color: #000807;


    a,
    a:active,
    a:link,
    a:visited {
        color: inherit;
        text-decoration: none;
    }
}

ul {
    list-style: none;
}