// -----------------------------------------------------------------------------
// This file contains base style(s)
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%; // 10px / 16px = 62.5%


    @media only screen and (max-width: $bp-xl) {
        font-size: 56.25%; // 9px / 16px = 56.25%
    }

    @media only screen and (max-width: $bp-phone-1) {
        font-size: 50%; // 8px / 16px = 50%
    }

    @media only screen and (max-width: $bp-phone-2) {
        font-size: 43.75%; // 7px / 16px = 43.75%
    }
}


body {
    padding: 10rem;
    font-family: $primary-font;
    color: #000807;


    @media only screen and (max-width: $bp-xxl) {
        padding: 5rem;
    }

    @media only screen and (max-width: $bp-phone-1) {
        padding: 3.5rem;
    }

    @media only screen and (max-width: $bp-phone-2) {
        padding: 2.5rem;
    }


    a,
    a:active,
    a:link,
    a:visited {
        color: inherit;
        text-decoration: none;
    }
}

ul {
    list-style: none;
}