// -----------------------------------------------------------------------------
// This file contains all styles related to the animations of the site/application.
// -----------------------------------------------------------------------------

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pop-up {
    0% {
        opacity: 0;
        transform: scale(0.25);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes drop-down {
    0% {
        opacity: 0;
        max-height: 0px;
    }
    25% {
        opacity: 0;
        max-height: 20px;
    }
    100% {
        opacity: 1;
        max-height: 200px;
    }
}
@keyframes drop-up {
    0% {
        opacity: 1;
        max-height: 200px;
    }
    25% {
        opacity: 1;
        max-height: 200px;
    }
    100% {
        opacity: 0;
        max-height: 0px;
    }
}
