// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

@font-face {
    font-family: 'Maharlika-Regular';
    src: url('./fonts/Maharlika-Regular.ttf') format('ttf'),
        url('./fonts/Maharlika-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

// FONT VARIABLES
$primary-font: 'Maharlika-Regular',
sans-serif;


// COLOR VARIABLES
$github-black: #212121;
$color-black: #000807;
$avatar-red: #df4e3b;
$color-slate-blue: #7678ED;
$box-shadow: 0 1rem 2rem rgba(black, .05);
$box-shadow-1: 0 1rem 2rem rgba(black, .1);


// MEDIA QUERY VARIABLES 
$bp-xxl: 80.31rem; // 1285px
$bp-xl: 73rem; // 1168px
$bp-large: 54.31rem; // 869px


$borderTest: red 1px solid;