// -----------------------------------------------------------------------------
// This file contains all styles related to the connect of the site/application.
// -----------------------------------------------------------------------------

.connect {
    display: flex;
    justify-content: space-between;
    // width: %;

    &::before {
        position: absolute;
        right: 30%;
        content: ' ';
        background-image: url('../imgs/undraw_feeling_proud_qne1.svg');
        background-size: 25rem 25rem;
        height: 25rem;
        width: 25rem;
        color: lightgray;
        filter: opacity(.7);
        font-size: 20rem;
        z-index: -1;
    }

    p {
        width: 55%;
    }

    &__secondHalf {
        align-self: center;
    }
}