// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {}

.pageLinks {

    margin-bottom: 5rem;

    &__list {
        display: flex;
    }

    &__item {
        font-size: 1.6rem;
        cursor: pointer;

        &:not(:last-of-type) {
            margin-right: 5rem;
        }
    }
}

.socials {

    margin-bottom: 5rem;

    &__list {
        display: flex;

        &::before {
            display: flex;
            justify-content: center;
            content: '__________________________________';
            font-size: 1.5rem;
            font-weight: 900;
            margin-right: 3rem;
        }
    }

    &__item {

        img {
            height: 2.8rem;
            width: 2.8rem;
            // filter: grayscale(1);
            // color: gray;
            cursor: pointer;

            svg {
                // fill: gray;
                border: $borderTest;
            }

            &:not(:last-of-type) {
                margin-right: 3rem;
            }

            &:hover {
                filter: grayscale(100%);
            }
        }

    }
}