// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
    position: relative;

    &::before {
        position: absolute;
        right: 10rem;
        content: ' ';
        background-image: url('../imgs/undraw_code_inspection.svg');
        background-size: 35rem 35rem;
        height: 35rem;
        width: 35rem;
        color: lightgray;
        filter: opacity(.7);
        font-size: 20rem;
        z-index: -1;
    }
}

.pageLinks {

    margin-bottom: 5rem;

    &__list {
        display: flex;
    }

    &__item {
        @include linkStyle;
    }
}

.socials {

    margin-bottom: 5rem;

    &__list {
        display: flex;

        &::before {
            display: flex;
            justify-content: center;
            content: '__________________________';
            font-size: 1.5rem;
            font-weight: 900;
            margin-right: 3rem;
        }
    }

    &__item {

        img {
            height: 2.8rem;
            width: 2.8rem;
            filter: opacity(.5);
            cursor: pointer;

            transition: .2s all ease-in-out;

            svg {
                // fill: gray;
                border: $borderTest;
            }

            &:not(:last-of-type) {
                margin-right: 3rem;
            }

            &:hover {
                filter: opacity(1);
                transform: rotate(-10deg);
            }
        }

    }
}