.info {
    grid-area: info;
    overflow: scroll;
    scroll-behavior: smooth;
    max-height: 475px;

    &__title {
        font-size: 2.5rem;
        font-weight: 500;
        color: $gray-500;
        margin-bottom: 2rem;
        padding-bottom: 1.5rem;
        border-bottom: 0.5px solid rgba($gray-200, 0.3);

        span {
            color: $black;

            &:nth-of-type(2n) {
                font-weight: 500;
                color: #4274ae;
            }
        }
    }

    p {
        font-size: 18px;
        font-weight: 200;
        color: $gray-500;
        margin-bottom: 2rem;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 3rem;

        p:first-of-type:before {
            content: '~~';
            color: #3F784C;
            margin-right: 0.5rem;
            font-weight: 900;
        }

        p {
            cursor: pointer;
        }
        span {
            display: block;
            font-size: 1.25rem;
            font-weight: 700;
            color: #3F784C;
        }
    }

    &__links p,
    .scroll-effect p {
        font-size: 1.7rem;
    }

    .scroll-effect {
        display: block;
        margin-top: 5rem;
    }

    // Hide Scrollbar
    &::-webkit-scrollbar {
        width: 0;
        &-track {
            background: transparent;
        }
        &-thumb {
            background: transparent;
        }
    }

    @media only screen and (min-width: $bp-med) {
        max-height: 400px;

        &__title {
            font-size: 3rem;
        }

        p {
            font-size: 2rem;
        }
    }
    @media only screen and (min-width: 1000px) {
        max-height: 450px;
    }
}
