.loading {
    // height: 100vh;
    padding: 5rem 10rem 2rem;
    overflow-y: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: $new-font;

    &__main {
        max-width: 1300px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: max-content 150px 1fr;
        grid-template-areas: 
        "logo ."
        "info nav"
        "info contact";
        grid-gap: 1.5rem;

        // height: 500px;
    }

    .logo {
        margin-bottom: 0;
    }


    &__svgContainer {
        // width: 100%;
        // height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    #animated-svg {
        width: 500px;
        height: auto;
    }
    

    @media only screen and (min-width: $bp-med) {
        &__main {
            // height: 500px;
        }    
        #animated-svg {
            width: 600px;
            height: auto;
        }
    }
}