// -----------------------------------------------------------------------------
// This file contains all styles related to the projects of the site/application.
// -----------------------------------------------------------------------------

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h2 {
        width: 100%;
        margin-bottom: 2.5rem;
        text-align: right;

        @media only screen and (max-width: $bp-large-2) {
            text-align: left;
        }

        img {
            height: 5rem;
            width: 5rem;
        }
    }

    h2,
    &__description {
        margin-right: 10rem;

        @media only screen and (max-width: $bp-large-2) {
            margin-right: 0rem;
        }
    }

    &__description {
        width: 55%;
        margin-left: auto;
        text-align: right;

        span {
            font-style: italic;
        }

        @media only screen and (max-width: $bp-large-2) {
            text-align: left;
            width: 100%;
            margin-left: none;
            margin-right: 13rem;
        }
    }

    &__title {
        margin: 1rem 0rem;
        font-size: 4rem;
        font-weight: 100;

        span {
            font-size: 2.5rem;
            margin: 0 .5rem;
        }
    }

    p {
        text-align: center;
        margin-bottom: 2rem;

        a,
        a:active,
        a:link,
        a:visited {
            font-size: 1.8rem;
            font-weight: 600;
            border-bottom: 2px solid transparent;


            &:last-of-type {
                // margin-right: 2rem;
            }

            &:hover {
                border-color: $avatar-red;
            }
        }
    }

    &__1,
    &__2,
    &__3 {
        height: 70vh;
        width: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: $bp-large-2) {
            width: 100%;
        }

        img {
            object-fit: contain;
            display: block;
            width: 100%;
            cursor: pointer;
            transition: .2s all ease-in-out;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    &__1 {}

    &__2 {}

    &__3 {}

    &__links {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
    }
}