// -----------------------------------------------------------------------------
// This file contains all styles related to the stack section of the site/application.
// -----------------------------------------------------------------------------

.stack {
    margin-bottom: 10rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {

        img {
            height: 10rem;
            width: 10rem;
        }
    }

    h3 {

        width: 55%;

        @media only screen and (max-width: $bp-large-2) {
            width: 75%;
        }

        @media only screen and (max-width: $bp-phone-1) {
            width: 100%;
        }

        a,
        a:active,
        a:link,
        a:visited {
            font-weight: 900;

            &:hover {
                color: $avatar-red;
            }
        }
    }

    h2,
    h3 {
        margin-bottom: 5rem;
        align-self: flex-start;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    &__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2.5rem 0rem;
        flex: 20%;
        cursor: pointer;
        text-align: center;


        &:hover {

            p {
                border-bottom-color: $avatar-red;

                &:before {
                    opacity: 0;
                }
            }
        }

        p {
            font-size: 1.7rem;
            font-weight: 400;
            font-style: italic;
            margin-top: 1rem;
            position: relative;
            border-bottom: 2px solid transparent;

            transition: .2s all ease-in-out;

            &:hover {
                border-bottom-color: $avatar-red;
            }

        }

        img {
            height: 7rem;
            width: 7rem;
            cursor: pointer;

            transition: .2s all ease-in-out;

            &:hover {
                transform: scale(1.2);
            }
        }

        &--js {
            p {
                &:before {

                    @media only screen and (max-width: $bp-phone-1) {
                        left: 0rem;
                    }
                }
            }
        }

        &--node {
            img {
                transform: scale(1.5);

                &:hover {
                    transform: scale(1.7);
                }
            }
        }

        &--mongodb {
            img {
                transform: scale(2.3);

                &:hover {
                    transform: scale(2.5);
                }
            }
        }

        &--git {
            img {
                justify-content: center;
                transform: scale(1.3);

                &:hover {
                    transform: scale(1.5);
                }
            }
        }
    }
}